/target/
# JDT-specific (Eclipse Java Development Tools)
*.classpath
/../.classpath
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

#Answers for Queries
**Query*.txt